.card,
body {
    padding: 24px
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f3f4f6
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px
}

.card {
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06)
}

h1,
h2 {
    color: #1e293b;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 16px
}

#canvas-input {
    border: 2px dashed #d1d5db;
    border-radius: .375rem;
    padding: 48px;
    text-align: center;
    cursor: pointer;
    transition: border-color .3s, background-color .3s
}

#canvas-input.drag-over {
    border-color: #16a34a;
    background-color: #f0fdf4
}

.image-canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px
}

canvas {
    max-width: 400px;
    width: 100%;
    height: auto;
    border: 1px solid #d1d5db;
    border-radius: .375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05)
}

.image-label {
    font-size: .875rem;
    line-height: 1.25rem;
    color: #6b7280;
    margin-top: .5rem
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 16px
}

.control-label {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #374151
}

.checkbox {
    border-radius: .375rem;
    height: 1.25rem;
    width: 1.25rem;
    color: #2563eb;
    outline: 0
}

.select {
    border: 1px solid #d1d5db;
    border-radius: .375rem;
    padding: .5rem .75rem;
    outline: 0;
    max-width: 150px;
    font-size: .875rem
}

.flex-row {
    display: flex;
    flex-direction: column
}

.button {
    background-color: #2563eb;
    color: #fff;
    font-weight: 700;
    padding: .5rem 1rem;
    border-radius: .375rem;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, .5);
    outline: 0;
    cursor: pointer;
    transition: background-color .3s
}

.button:hover {
    background-color: #1e40af
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr
}

footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-size: small;
    color: #555
}

.output-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px
}

.output-maps-row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px
}

@media (min-width:768px) {
    .flex-row {
        flex-direction: row
    }

    .controls-container {
        margin-top: 0
    }

    .output-maps-row {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch
    }
}
